/* ====== CONTENIDO GENERAL ====== */
body {
    background-color: #ddeee7;
    color: #fff;
}

.conte-principal {
    padding-top: 90px;
}

/* ====== COMMUNITY CARDS ====== */
.community-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    max-width: 120px;
}

.community-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: transform .3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.community-card img:hover {
    transform: scale(1.1);
}

.community-card span {
    margin-top: 8px;
    text-align: center;
    font-weight: bold;
}

/* ====== CONTENEDOR PRINCIPAL ====== */
.comunidades {
    background-color: #179a9b;
    border-radius: 18px;
    padding: 15px;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    width: 95%;
    margin: auto;
}


