body {
    background-color: #ddeee7
}

.profile-card{
    width: 95%;
    background: #1BC5C1;
    border-radius: 30px;
    color: #fff;
}

.profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff55;
}

/* Chips de intereses */
.chip{
    background: #0B4C8A;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.85rem;
    display: inline-block;
    color: #fff;
    font-weight: 500;
}
