body {
    color: #fff;
    overflow: visible !important;
}

/* Tarjetas Discover */
.discover-card {
    width: 97%;
    background-color: #179a9b;
    border-radius: 14px;
    padding: 1rem;
    margin-bottom: 18px;
    box-shadow: rgba(0,0,0,0.3) 0 3px 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info span {
    font-size: 0.85rem;
    color: #bfbfbf;
}

.descripcion {
    margin: 10px 0;
    font-size: 0.95rem;
}

.post-img {
    width: 100%;
    border-radius: 12px;
    margin-top: 8px;
    object-fit: cover;
}


/* ====== CONTENIDO GENERAL ====== */
body {
    background-color: #ddeee7;
    color: #fff;
}

.conte-principal {
    padding-top: 90px;
}

.post-actions {
    padding: 0.6rem 0.75rem 0.75rem;
    display: flex;
    gap: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.action-btn {
    width: 50%;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.45rem 0.8rem;
    border-radius: 999px;
    transition: all 0.15s ease;
    color: var(--text-main);
    background: rgba(0, 0, 0, 0.3);
    border: none;
    font-weight: 500;
    font-size: 0.95rem;
}



/* CUERPO DEL POST */
.modal-post-body{
    background:#ffffff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0px 4px 14px rgba(0,0,0,0.15);
}

/* HEADER */
.modal-head{
    border:0;
    padding:14px 18px;
}

/* Avatar */
.avatar{
    width:40px;
    height:40px;
    border-radius:50%;
}

/* Botón cerrar estilo mockup circular */
.close-btn{
    background:#0ea5e9;
    border:none;
    color:white;
    width:34px;
    height:34px;
    font-size:17px;
    border-radius:50%;
    cursor:pointer;
}

/* IMAGEN – ya no es fija */
.post-image{
    width:100%;
    border-radius:0;
    display:block;
}

/* ÁREA SCROLLABLE */
.content-scroll{
    max-height:45vh;
    overflow-y:auto;
    padding:16px;
}

/* DESCRIPCIÓN */
.desc{
    margin-bottom:18px;
    font-size:15px;
}

/* Tarjetas de comentarios */
.comentario{
    background:#e9e9e9;
    padding:10px 12px;
    border-radius:10px;
    display:flex;
    gap:10px;
    margin-bottom:10px;
}

.comentario img{
    width:38px;
    height:38px;
    border-radius:50%;
    flex-shrink:0;
}

.comentario p{
    font-size:14px;
    margin:0;
    line-height:17px;
}

/* INPUT */
.modal-input{
    width:100%;
    border:none;
    background:#f1f1f1;
    padding:10px;
    border-radius:10px;
    font-size:14px;
}
