body {
    color: #fff;
}

/* Tarjetas Discover */
.discover-card {
    background-color: #179a9b;
    border-radius: 14px;
    padding: 1rem;
    margin-bottom: 18px;
    box-shadow: rgba(0,0,0,0.3) 0 3px 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info span {
    font-size: 0.85rem;
    color: #bfbfbf;
}

.descripcion {
    margin: 10px 0;
    font-size: 0.95rem;
}

.post-img {
    width: 100%;
    border-radius: 12px;
    margin-top: 8px;
    object-fit: cover;
}


/* ====== CONTENIDO GENERAL ====== */
body {
    background-color: #ddeee7;
    color: #fff;
}

.conte-principal {
    padding-top: 90px;
}

.post-actions {
    padding: 0.6rem 0.75rem 0.75rem;
    display: flex;
    gap: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.action-btn {
    width: 50%;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.45rem 0.8rem;
    border-radius: 999px;
    transition: all 0.15s ease;
    color: var(--text-main);
    background: rgba(0, 0, 0, 0.3);
    border: none;
    font-weight: 500;
    font-size: 0.95rem;
}





